### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/gen-ihe/**
/ihe-germany/**
/gen-cda/**
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
gen-fdv-json-testtreiber/.openapi-generator/testtreiber_fdv.yaml.sha256
**/.openapi-generator**


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nb-configuration.xml
/nbproject/

**/target/**
**/out/**
*.log
**/logs/**
/logs/
/target/
