### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
ihe-wrapper/
ihe-wrapper-test/
ebxml-wrapper/
ebxml-wrapper-test/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store
**/.openapi-generator/**


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nb-configuration.xml
/nbproject/

**/target/**
**/out/**
*.log
**/logs/**
/logs/
/target/
