### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
gen-ihe/
gen-ihe-test/
gen-ihe-wrapper/
gen-ihe-wrapper-test/
gen-cda/
gen-xacml/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store
**/.openapi-generator/**


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nb-configuration.xml
/nbproject/

/gen-ihe-wrapper/
**/target/**
**/out/**
*.log
**/logs/**
/logs/
/target/
